*{
    margin:0;
    padding:0;
}
body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
   
}
.keys{
min-height: 100vh;
display:flex;
justify-content: center;
align-items:center;
}
.key{
    width:5rem;
    border: solid black 3px;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    margin:0.7rem;
    padding:0.7rem 0.7rem;
    font-size: 0.5rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; 
    transition: all 0.07s;
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd{
display: block;
font-size: 2.1rem;
    
}
.sound{
    color: gold;
    text-transform: uppercase;
}